/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(97, 92, 92);
    width: 100%;
    color: #333456;
    padding: 20px 20px;
    display: flex;

}

.gambar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(78, 78, 199);
    padding: 30px;
    box-sizing: border-box;
}

nav {
    position: relative;
    display: flex;

}

.gambar nav img {
    width: 100px;

}

.menu {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;

}

.menu a {

    margin: auto;
    padding: 15px;
    font-size: 30px;
    color: black;
    box-sizing: border-box;

}

.idea {
    width: 100%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: burlywood;
    box-sizing: border-box;
}



.idea h1 {
    font-size: 40px;
    color: rgba(1, 6, 12, 0.938);
    text-align: center;
}



.p h6 {
    width: 100%;
    padding: 30px;
    font-size: 20px;
    color: dodgerblue;
    font-style: italic;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.big-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    padding: 30px;
    box-sizing: border-box;
    float: left;
}

.left-container {
    width: 400px;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.profil-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.profil-container img {
    width: px;
    height: 30px;
    border-radius: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 10px 10px;
}

.name p {
    font-style: italic;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
}

.description {
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: justify;
    padding: 20px;
    line-height: 1.2;
}

.comment {
    font-family: arial, sans-serif;
    font-size: 10px;
    text-align: justify;
    color: rgb(45, 219, 231);
    margin-top: -20px;
    padding: 2em;
    line-height: 1.2;
}

.right-container {
    width: 400px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    background-color: gray;
    box-sizing: border-box;
}

.form-box h3 {
    font-size: 30px;
    font-family: Lucida sans Reguler;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}

.form-box p {
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: justify;
}

label {
    line-height: 2.5;
    width: 100%;
    margin-bottom: 50px;
    font-size: 20px;
}

.error-message {
    color: red;
    font-size: small;
}

@media only screen and (max-width 768px) {
    .responsive {
        display: flex;
        flex-direction: column;
    }
}



.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}