/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: #868383;
    width: 100%;
    height: auto;
}

.menu img {
    width: 50px;
    display: flex;
    align-items: flex-start;
}

nav a {
    font-size: 20px;
    color: black;

}

.menu a {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.judul {
    margin: auto;
    padding: 40px;
    position: relative;
    background-color: aqua;
    text-align: center;
}

.judul h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.judul h6 {
    margin-top: 20px;
    font-size: 15px;
}

.big-container {
    display: flex;

}

.slider p {
    width: auto;
}

.left-container {
    background-color: blueviolet;
    width: 50%;
    display: flex;

}

.profil-container {
    display: flex;
    flex-direction: column;
}

.description {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.right-container {
    width: 50%;
    padding: 2em;
}

.form-box {
    background-color: grey;
    padding: 2em;
}

.profil-container {
    display: flex;
    font-size: 15px;
    background-color: chocolate;
}

.profil-container img {
    width: 30px;
    height: auto;
}

.profil-container h4 {
    text-align: left;
}

.profil-container p {
    font-size: 10px;
    font-style: italic;
}

.error-message {
    color: red;
    font-size: small;
}

.responsive {
    width: 100%;
    display: flex;
}

#slider {
    width: 100%;

}

#slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

@media only screen and (max-width 992px) {
    .responsive {
        display: flex;
        flex-direction: column;
    }
}